@inherits RazorForms.Templates.Elements.ButtonRawBase

<button class="@GenerateClasses()"
        @Html.Raw(GenerateAttributes(Model.Attributes, GenerateAdditionalAttributes))>
	@Model.ChildContent
</button>