@inherits RazorForms.Templates.TemplateBase<RazorForms.FormButton>

@if (Model.Options.RemoveWrappers ?? false)
{
	@await Html.PartialAsync("./ButtonRaw.cshtml", Model)
}
else
{
	<div class="@Model.Options.ComponentWrapperClasses">
		@await Html.PartialAsync("./ButtonRaw.cshtml", Model)
	</div>
}