@inherits RazorForms.Templates.Elements.ErrorListBase<RazorForms.FormInput<RazorForms.Options.IFormComponentOptions>>

@if (Model.Errors.Any())
{
	<ul class="@GenerateErrorWrapperClasses()"
	    id="@GenerateErrorId(Model.MvcName)">
		@foreach (var e in Model.Errors)
		{
			<li class="@GenerateErrorClasses()">@e</li>
		}
	</ul>	
}