@inherits RazorForms.Templates.Elements.LabelRawBase<RazorForms.FormInput<RazorForms.Options.IFormComponentOptions>>

<label for="@Model.MvcName"
       class="@GenerateLabelClasses()">
	@Model.DisplayName
</label>