@inherits RazorForms.Templates.Elements.LabelBase<RazorForms.FormInput<RazorForms.Options.IFormComponentOptions>>

@if (InputOptions.RemoveWrappers ?? false)
{
	@await Html.PartialAsync("./LabelRaw.cshtml", Model)
}
else
{
	<div class="@GenerateLabelWrapperClasses()">
		@await Html.PartialAsync("./LabelRaw.cshtml", Model)
	</div>
}