@inherits RazorForms.Templates.Elements.LabelRawBase<RazorForms.FormInput>

<label for="@Model.MvcName"
       class="@GenerateLabelClasses()">
	@if (Model.LabelAcceptsChildContent && Model.ChildContent != null)
	{
		@Model.ChildContent
	}
	else
	{
		@Model.DisplayName
	}
</label>