@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div>
	<h1 class="display-4 text-center">Welcome</h1>
	<form asp-page="/"
	      method="post">
		<div class="row">
			<div class="col-12 col-md-6">
				<text-input asp-for="UserData.FirstName"
				            input-first
				            disabled/>
			</div>
			<div class="col-12 col-md-6">
				<text-input asp-for="UserData.LastName"
				            class="fake-class"
				            data-val="true"/>
			</div>
			<div class="col-12 col-md-6">
				<text-input asp-for="UserData.Password"
				            remove-wrappers/>
			</div>
			<div class="col-12 col-md-6">
				<text-input asp-for="UserData.PasswordMatch"
				            remove-wrappers/>
			</div>
			<div class="col-12 col-md-6">
				<text-input asp-for="UserData.PageUrl"
				            input-first
				            remove-wrappers
				            additional-input-block-wrapper-classes="form-floating"
				            placeholder="Page URL"/>
			</div>
			<div class="col-12 col-md-6">
				<text-input asp-for="UserData.Age"
				            input-first
				            remove-wrappers
				            additional-input-block-wrapper-classes="form-floating"
				            placeholder="User age"/>
			</div>
			<div class="col-12">
				<text-input asp-for="UserData.Biography"
				            input-first
				            remove-wrappers
				            additional-input-block-wrapper-classes="form-floating"
				            placeholder="User bio"/>
			</div>
		</div>

		<button class="btn btn-outline-primary d-block mt-3"
		        type="submit">
			Submit
		</button>
	</form>
</div>