@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div>
	<h1 class="display-4 text-center">Welcome</h1>
	<form asp-page="/"
	      method="post">
		<div class="row">
			<div class="col-12 col-md-6">
				<text-input asp-for="UserData.FirstName"
				            placeholder="First name"
				            disabled/>
			</div>
			<div class="col-12 col-md-6">
				<text-input asp-for="UserData.LastName"
				            placeholder="Last name"
				            class="fake-class"
				            data-val="true"/>
			</div>
			<div class="col-12 col-md-6">
				<text-input asp-for="UserData.Password"
				            placeholder="Password">
					Tell me your password! <strong>Please??</strong>
				</text-input>
			</div>
			<div class="col-12 col-md-6">
				<text-input asp-for="UserData.PasswordMatch"
				            placeholder="Confirm password"/>
			</div>
			<div class="col-12 col-md-6">
				<text-input asp-for="UserData.PageUrl"
				            placeholder="Page URL"/>
			</div>
			<div class="col-12 col-md-6">
				<text-input asp-for="UserData.Age"
				            placeholder="User age"/>
			</div>
			<div class="col-12">
				<text-input asp-for="UserData.Biography"
				            placeholder="User bio"/>
			</div>
		</div>

		<button class="btn btn-outline-primary d-block mt-3"
		        type="submit">
			Submit
		</button>
	</form>
</div>