@inherits RazorForms.Templates.TemplateBase<RazorForms.FormInput>

@if (Model.Options.RemoveWrappers ?? false)
{
	@await Html.PartialAsync("./InputRaw.cshtml", Model)
}
else
{
	<div class="@GenerateInputWrapperClasses()">
		@await Html.PartialAsync("./InputRaw.cshtml", Model)
	</div>
}