@inherits RazorForms.Templates.Inputs.InputBase<RazorForms.FormInput<RazorForms.Options.IFormComponentOptions>>

@if (InputOptions.RemoveWrappers ?? false)
{
	@await Html.PartialAsync("./InputRaw.cshtml", Model)
}
else
{
	<div class="@GenerateInputWrapperClasses()">
		@await Html.PartialAsync("./InputRaw.cshtml", Model)
	</div>
}