@using RazorForms
@inherits RazorForms.Templates.TextInputBase<FormInput<RazorForms.Options.IFormComponentOptions>>

<div class="@GenerateComponentWrapperClasses()">
	<div class="@GenerateInputBlockWrapperClasses()">
		@if (InputOptions.InputFirst ?? false)
		{
			@await Html.PartialAsync("./Inputs/Input.cshtml", Model)
			@await Html.PartialAsync("./Elements/Label.cshtml", Model)
		}
		else
		{
			@await Html.PartialAsync("./Elements/Label.cshtml", Model)
			@await Html.PartialAsync("./Inputs/Input.cshtml", Model)
		}
	</div>

	@await Html.PartialAsync("./Elements/ErrorList.cshtml", Model)
</div>
