@using RazorForms.Models
@model MarkupModel<RazorForms.Options.FormComponentOptions>

@{
	const string partialPath = "~/RazorFormsTemplates/Partials/WrappedContent.cshtml";

	var inputContent = await Html.PartialAsync(
		partialPath,
		new PartialMarkupModel(
			Model.InputHtml,
			Model.ElementOptions.InputWrapperClasses,
			Model.ElementOptions.RemoveWrappers));

	var labelContent = await Html.PartialAsync(
		partialPath,
		new PartialMarkupModel(
			Model.LabelHtml,
			Model.ElementOptions.LabelWrapperClasses,
			Model.ElementOptions.RemoveWrappers));
}

<div class="@Model.ElementOptions.ComponentWrapperClasses">
	@if (Model.ElementOptions.InputFirst)
    {
    	@inputContent
    	@labelContent
    }
    else
    {
    	@labelContent
    	@inputContent
    }
</div>