@using RazorForms.Models
@using RazorForms.Options
@model MarkupModel

@{
	const string partialPath = "~/RazorFormsTemplates/Partials/WrappedContent.cshtml";
	var options = (FormComponentOptions)Model.ElementOptions;

	var inputContent = await Html.PartialAsync(
		partialPath,
		new WrappedContentModel(
			Model.InputHtml,
			options.InputWrapperClasses,
			options.RemoveWrappers));

	var labelContent = await Html.PartialAsync(
		partialPath,
		new WrappedContentModel(
			Model.LabelHtml,
			options.LabelWrapperClasses,
			options.RemoveWrappers));
}

<div class="@options.ComponentWrapperClasses">
	@if (options.InputFirst)
    {
    	@inputContent
    	@labelContent
    }
    else
    {
    	@labelContent
    	@inputContent
    }
</div>