@model RazorForms.Models.WrappedContentModel

@if (Model.Content is null)
{
	return;
}

@if (Model.RemoveWrappers)
{
	@Model.Content
}
else
{
	<div class="@Model.WrapperClasses">
		@Model.Content
	</div>
}