@page
@model IndexModel

@{
	ViewData["Title"] = "Home";
}

<p>
	To view information on using RazorForms, please select a CSS framework from the primary nav at the top of this page. Each CSS framework page has its own navigation that shows how to set it up and how to use RazorForms to achieve different results. Example pages are essentially the same throughout the site - the only difference is which framework is used. This allows you to see the same basic layout, but with the different CSS frameworks applied.
</p>

<p>
	In order to view a different framework, you'll need to go into the <code>ExampleProject.Program.cs</code> file and alter which framework is activated. You can find information on how to do this on each specifc framework's setup page. All you need to do is comment out the existing setup code and uncomment the appropriate setup code for the framework and features you want to view, then restart the app and navigate to that framework's page in this example app.
</p>