@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div>
	<h1 class="display-4 text-center">Welcome</h1>
	<form asp-page="/"
	      method="post">
		<div class="row">
			<div class="col-12 col-md-6">
				<text-input asp-for="UserData.FirstName"
				            placeholder="First name"
				            disabled/>
			</div>
			<div class="col-12 col-md-6">
				<text-input asp-for="UserData.LastName"
				            placeholder="Last name"
				            class="fake-class"
				            data-test="true"/>
			</div>
			<div class="col-12 col-md-6">
				<text-input asp-for="UserData.Password"
				            placeholder="Password">
					Tell me your password! <strong>Please??</strong>
				</text-input>
			</div>
			<div class="col-12 col-md-6">
				<text-input asp-for="UserData.PasswordMatch"
				            placeholder="Confirm password"/>
			</div>
			<div class="col-12 col-md-6">
				<select-input asp-for="UserData.PageUrl"
				              asp-items="Model.Items"/>
			</div>
			<div class="col-12 col-md-6">
				<text-input asp-for="UserData.Age"
				            placeholder="User age"/>
			</div>
			<div class="col-12">
				<text-area-input asp-for="UserData.Biography"
				                 placeholder="User bio"
				                 style="height:200px;"/>
			</div>
			<div class="col-12 col-md-3">
				<check-input-group asp-for="UserData.Ethnicities">
					<check-input asp-for="UserData.Ethnicities"
					             value="Asian">
						Asian
					</check-input>
					<check-input asp-for="UserData.Ethnicities"
					             value="Black">
						Black
					</check-input>
					<check-input asp-for="UserData.Ethnicities"
					             value="Hispanic">
						Hispanic
					</check-input>
					<check-input asp-for="UserData.Ethnicities"
					             value="Native American">
						Native American
					</check-input>
					<check-input asp-for="UserData.Ethnicities"
					             value="Pacific Islander">
						Pacific Islander
					</check-input>
					<check-input asp-for="UserData.Ethnicities"
					             value="White">
						White
					</check-input>
				</check-input-group>
			</div>
			<div class="col-12 col-md-3">
				<check-input-group asp-for="UserData.Numbers">
					<check-input asp-for="UserData.Numbers"
					             value="1">
						1
					</check-input>
					<check-input asp-for="UserData.Numbers"
					             value="2">
						2
					</check-input>
					<check-input asp-for="UserData.Numbers"
					             value="3">
						3
					</check-input>
					<check-input asp-for="UserData.Numbers"
					             value="4">
						4
					</check-input>
					<check-input asp-for="UserData.Numbers"
					             value="5">
						5
					</check-input>
					<check-input asp-for="UserData.Numbers"
					             value="6">
						6
					</check-input>
				</check-input-group>
			</div>
			<div class="col-12 col-md-3">
				<radio-input-group asp-for="UserData.Series">
					<radio-input asp-for="UserData.Series"
                                 value="Lord of the Rings">
                    	Lord of the Rings
                    </radio-input>
                    <radio-input asp-for="UserData.Series"
                                 value="The Wheel of Time">
                    	The Wheel of Time
                    </radio-input>
                    <radio-input asp-for="UserData.Series"
                                 value="Harry Potter">
                    	Harry Potter
                    </radio-input>
				</radio-input-group>
			</div>
			<div class="col-12 col-md-3">
				<radio-input-group asp-for="UserData.Number">
					<radio-input asp-for="UserData.Number"
                                 value="3">
                    	3
                    </radio-input>
                    <radio-input asp-for="UserData.Number"
                                 value="7">
                    	7
                    </radio-input>
                    <radio-input asp-for="UserData.Number"
                                 value="13">
                    	13
                    </radio-input>
				</radio-input-group>
			</div>
			<div class="col-12">
				<check-input asp-for="UserData.WantsMarketingEmails"/>
				<check-input asp-for="UserData.AcceptTos">
					I accept the
					<a asp-area=""
					   asp-page="/Terms"
					   target="_blank">
						Terms of Service
					</a>
				</check-input>
			</div>
		</div>

		<submit-button>Submit</submit-button>
		<reset-button>Reset</reset-button>
		<default-button disabled>Just a button</default-button>
	</form>
</div>