<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1.0"
	      name="viewport"/>
	<title>@ViewData["Title"] - BootstrapExample</title>
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css"
	      rel="stylesheet"/>
	<link asp-append-version="true"
	      href="~/css/site.css"
	      rel="stylesheet"/>
	<link asp-append-version="true"
	      href="~/WebApplication1.styles.css"
	      rel="stylesheet"/>
</head>
<body>
<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
		<div class="container">
			<a asp-area=""
			   asp-page="/Index"
			   class="navbar-brand">
				BootstrapExample
			</a>
			<button aria-controls="navbarSupportedContent"
			        aria-expanded="false"
			        aria-label="Toggle navigation"
			        class="navbar-toggler"
			        data-bs-target=".navbar-collapse"
			        data-bs-toggle="collapse"
			        type="button">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
				<ul class="navbar-nav flex-grow-1">
					<li class="nav-item">
						<a asp-area=""
						   asp-page="/Index"
						   class="nav-link text-dark">
							Home
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<div class="container">
	<main class="pb-3"
	      role="main">
		@RenderBody()
	</main>
</div>

<footer class="border-top footer text-muted">
	<div class="container">
		&copy; 2022 - BootstrapExample
	</div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script asp-append-version="true"
        src="~/js/site.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>