<footer class="pt-5">
	<div class="container">
		<p class="small">
			&copy;2022 Christian LeVesque. This site's contents are published under the
			<a href="https://creativecommons.org/licenses/by/4.0/"
			   target="_blank"
			   rel="noreferrer">
				CC BY 4.0 license
			</a>.
		</p>
	</div>
</footer>