<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible"
	  content="IE=edge"/>
<meta name="viewport"
	  content="width=device-width,initial-scale=1.0"/>
<meta name="description"
	  content="{{{ blurb }}}"/>

<link rel="preconnect"
	  href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap"
	  rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://pro.fontawesome.com/releases/v5.15.0/css/all.css"/>
{{> webpack }}
<title>{{ pageTitle }} | {{ siteTitle }}</title>