@page
@model ExampleProject.Pages.Shared.ExampleModel

<form method="post">
	<date-picker-input asp-for="TestDate"/>
	<button type="submit"
	        class="waves-effect waves-light btn">
		Submit
	</button>
</form>